$white: #ffffff;
$black: #000000;
$blue: #002c60;
$darkGray: #111;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: $white;
  background: $white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 0.9em;
  max-width: 35em;
  line-height: 27px;
}

h1, h2 {
  font-weight: 300;
}

h1 {
  margin: 0.5em 0;
  font-size: 3em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  height: 70vh;
  min-height: 20em;
  background: url(https://media.vw.com/assets/images/thumbnail/10599-190917VW062238.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.header-body {
  padding: 2.5em;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.header-body h1 {
  margin-left: 20px;
}

.header-body p {
  max-width: 25em;
}

/* Navbar */

nav {
  padding: 1.5em 2.5em;
  position: relative;
}

.brand {
  font-size: 1.3em;
}

.brand img {
  height: auto;
  width: 55px;
}

nav li {
  display: inline-block;
  margin: 0 0.8em;
  text-align: center;
}

nav a {
  color: $white;
}

nav a:hover {
  color: #eee;
}

/* Second section */

.second-section {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: $blue;
}

.second-section h1 {
  margin-left: 300px;
  color: $white;
}

/* Third section */

.third-section {
  display: flex;
  justify-content: space-around;
  background-color: $white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.third-section iframe {
  margin-top: 20px;
  margin-bottom: 20px;
}

.third-section p {
  color: $black;
  font-size: large;
  margin-top: 200px;
}

/* Fourth Section */

.fourth-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.fourth-section h1 {
  color: $black;
}

.fourth-section p {
  color: $black;
  font-size: 24px;
}

.fourth-section img {
  max-width: 60%;
}

/* Fifth section */

.fifth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.fifth-section h1 {
  color: $black;
}

.fifth-section p {
  color: $black;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Footer */

footer {
  background-color: $darkGray;
}

.footer-container {
  width: 100%;
  padding: 70px 30px 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
  padding: 10px;
  background-color: $white;
  margin: 10px;
  border-radius: 50%;
}

.social-icons a i {
  font-size: 2em;
  color: $black;
  opacity: 0,9;
}

.social-icons a:hover {
  background-color: #111;
  transition: 0.5s;
}

.social-icons a:hover i {
  color: $white;
  transition: 0.5s;
}

.footer-nav {
  margin: 30px 0;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footer-nav ul li a {
  color: $white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footer-nav ul li a:hover {
  opacity: 1;
}

.footer-bottom {
  background-color: #000;
  padding: 20px;
}
/*--------------------------------------------------------------------------Footer responsivnes 770px--------------------------------------------------------------------------*/

@media (max-width: 770px){
    .footer-nav ul{
        flex-direction: column;
    } 
    .footer-nav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .social-icons a{
        padding: 8px;
        margin: 4px;
    }
}
/*------------------------------------------------------------------------------Responsivnes at 1600px-------------------------------------------------------------*/
@media screen and (max-width: 1600px) {
    /* Second Section */
    .second-section h1{
        margin-left: 40px;
    }
    /* Third Section */
    .third-section {
        margin-left: 30px; 
    }
    .third-section p{
        margin-left: 20px;
    }
    .third-section iframe{
        width: 70%;
    }
}

/*----------------------------------------------------------------------Responsivnes at 1200px-----------------------------------------------------------------------*/

@media screen and (max-width: 1200px) {
    /* Second Section */
    .second-section{
        justify-content: center;
    }
    /* Third Section */
    .third-section {
        flex-direction: column;
        align-items: center;
    }
    .third-section p{
        font-size: 25px;
        margin-top: 100px;
    }
    .third-section iframe{
        width: 80%;
    }
    .fourth-section img{
        width: 80%;
    }
    .fifth-section img{
        width: 60%;
    }
    .fifth-section, .fourth-section p{
        font-size: 18px;
    }
}

/*-----------------------------------------------------------Responsivnes at 990px------------------------------------------------------------------------------*/

/* Second Section */
@media screen and (max-width: 990px) { 
    .second-section h1 {
        margin-left: 30px;
    }

    /* Third Section */
    .third-section {
        flex-direction: column; 
        align-items: center;
    }

    .third-section p {
        margin-left: 10px;
        margin-bottom: 20px;
        font-size: 24px;
    }
    .third-section iframe{
        width: 90%;
    }
    .fifth-section p{
        font-size: 18px;
    }
}

/*--------------------------------------------------------------------Responsivnes at 770px-------------------------------------------------------------------------*/

@media screen and (max-width: 770px) {
    .second-section{
        display: flex;
    }

    .third-section {
        flex-direction: column; 
        text-align: center;
    }

    .third-section p {
        margin-top: 50px; 
    }
    .fourth-section p{
        font-size: 14px;
    }
    .fifth-section p{
        font-size: 14px;
    }
}

/*---------------------------------------------------------------------Responsivnes for 580px---------------------------------------------------------------------*/

@media (max-width:580px){
    /* Second Section */
    .second-section {
        display: flex;
        align-items: center;
        text-align: center;
    }


    /* Third Section */
    .third-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: 15px;
    }

    .third-section iframe {
        width: 100%; 
    }

    .third-section p{
        font-size: 18px;
    }
    .fourth-section p{
        font-size: 12px;
    }
    .fifth-section p{
        font-size: 12px;
    }
}
